.header{
    margin-top: 0.3cm;
    background-color: rgba(60, 227, 239, 0.623);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    padding-left: 57%;
    position: fixed;
}

#home{
    font-size: 2ch;
    padding: 0.5cm;
    color: rgb(1, 42, 42);
}

#contact{
    font-size: 2ch;
    padding: 0.5cm;
    color: rgb(1, 42, 42);
}

#aboutus{
    font-size: 2ch;
    padding: 0.5cm;
    color: rgb(1, 42, 42);
}

#organ{
    font-size: 2ch;
    padding: 0.5cm;
    color: rgb(1, 42, 42);
}

#article{
    font-size: 2ch;
    padding: 0.5cm;
    color: rgb(1, 42, 42);
}